<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mascotas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Mascotas del Sistema</h1>


<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li th:classappend >
                    <a href="#" th:href="@{/mascotas/consulta}">Consultar</a>
                </li>

                <li th:classappend >
                    <a href="#" th:href="@{/mascotas/insertar}">Insertar</a>
                </li>
                <li th:classappend >
                    <a href="#" th:href="@{/mascotas/modificar}">Modificar</a>
                </li>
                <li th:classappend >
                    <a href="#" th:href="@{/mascotas/eliminar}">Eliminar</a>
                </li>

            </ul>

        </div>
    </div>
</div>


</body>
</html>

