<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Insertar Veterinario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1></h1>
<h1>Ingrese la informacion del veterinario</h1>

<form th:action="@{/veterinarios/insertar}" th:object="${form}" method="post">
    <p>Cedula del veterinario: <input type="text" th:field="*{cedulaVeterinario}" /></p>
    <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
    <p>Apellido 1: <input type="text" th:field="*{ap1}" /></p>
    <p>Apellido 2: <input type="text" th:field="*{ap2}" /></p>
    <p>Direccion: <input type="text" th:field="*{direccion}" /></p>
    <p>Telefono: <input type="text" th:field="*{telefono}" /></p>
    <p>Especialidad: <input type="text" th:field="*{especialidad}" /></p>
    <p>Horario de atencion: <input type="text" th:field="*{horario}" /></p>



    <p><input type="submit" value="Submit" /> </p>
</form>



</body>
</html>